# deps
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next
/.next/
/out/

# env
.env*
!.env.local.example

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# os
.DS_Store
Thumbs.db
